{% if session.loggedin %}

{% extends 'layout.html' %}

{% else %}

{% extends 'layout-logged-out.html' %}

{% endif %}

{% block title %}New Subdomain Wow{% endblock %}

{% block content %}
<h2>Change or Reset Password</h2>
<div>
    <div class="msg" style="font-size:18px; padding-left: 10px; padding-right: 20px; font-weight: bold">
        {{ msg }}
    </div>
    <p>
    <table>
        <form action="{{ url_for('routes.change_or_reset_password') }}" method="post" autocomplete="off" id="change_or_reset_password">
        <tr>
            <td><label for="Old Password">
					<i class="fas fa-key"></i>
				</label>Enter your current password:
            </td>
            <td>
				<input type="password" name="old_password" placeholder="Password (old, boring)" id="old_password" required>
            </td>
        </tr>
        <tr>
            <td><label for="Old Password">
					<i class="fas fa-key"></i>
				</label>Enter your new password:
            </td>
            <td>
				<input type="password" name="new_password" placeholder="Password (new, exciting)" id="new_password" required>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Change it please"></td>
        </tr>
            
        <tr>
            <td>Forgot your current password and need to make a new one? <a href='http://is.gay/request-password-reset'>Click here to reset your password.</a></td>
        </tr>
        </form>
    </table>
</div>
{% endblock %}