{% if session.loggedin %}

{% extends 'layout.html' %}

{% else %}

{% extends 'layout-logged-out.html' %}

{% endif %}

{% block title %}Gay Info{% endblock %}

{% block content %}
<h2>The Heck is This</h2>

<div>
    <div class="msg" style="font-size:20px; padding-left: 0px; font-weight: bold; margin-bottom: 10px">
    Where the hell am I?
    </div>
    <p>You have stumbled into the <b>gayest timeline</b>, where your gay subdomains are waiting to be born!
</div>    
<div>    
    <div class="msg" style="font-size:20px; padding-left: 0px; font-weight: bold; margin-bottom: 10px">
    Really though. I am serious.
    </div>
    <p>So are we, almost! This is a fabulous domain, is.gay. We sell subdomains. Do you want to host your website at john.is.gay? You can! Unless John (gay John) beat you to it already. Don't let him! Sign up TODAY wow wow wowowow 
</div>       
<div>      
    <div class="msg" style="font-size:20px; padding-left: 0px; font-weight: bold; margin-bottom: 10px">
    Why in God's fuck would I do that
    </div>
    <p>
    <ol style="margin: 20px;">
        <li style="margin-bottom: 5px;"><b>Assert your Gayness.</b> Maybe your friends don't know you're gay, Dave? Well, they probably do, by now. But what if they don't??? Leave nothing up to chance with your very own custom subdomain, dave.is.gay. You can host your very legit and cool website there, or just redirect it to your LinkedIn profile, or to a photo of your face on the internet! You can do anything (that is otherwise legal to do on the internet)!!!</li>
        <li style="margin-bottom: 5px;"><b>Gay Wedding Website.</b> AdamAndStevesWedding.is.gay has a nice ring to it! We will not verify that your wedding is, in fact, gay - that would just be kind of weird if it weren't. But this is the wild west of the internet, baby! Please keep it legal, though.</li>
        <li style="margin-bottom: 5px;"><b>Memes.</b> Look, these things are not expensive. They are, like, a dollar a month. You have definitely paid more money for stupider things, like that extra appetizer that nobody actually wanted but everyone was too chicken-shit to speak up and say so. Why are you even going out to eat? We are in a global pandemic? Stay at home. What were we talking about again?</li>
    </ol>   
</div>  

       
<div>  
    <div class="msg" style="font-size:20px; padding-left: 0px; font-weight: bold; margin-bottom: 10px">
    How much does it cost?
    </div>
    <p>Uhh, we're still kind of figuring that out. Right now we are charging $1 per month per subdomain. Which is BASICALLY free. We reserve the right to change this policy! But if you get in on the ground floor, we will probably give you a lot of leeway! Tell all your friends!!
</div>        
    
<div>  
    <div class="msg" style="font-size:20px; padding-left: 0px; font-weight: bold; margin-bottom: 10px">
    I am sold! (somehow.) How do I get started?
    </div>
    <p>If you're new around here, <a href="https://is.gay/register">sign up for an account</a> to get started on your gay subdomain journey!
    <p>(Or <a href="mailto:someone@example.com">shoot us an email</a>. We are good and chill and nice!)
    <p>If you are NOT new around here (wow! Thank you! #blessed), head on over to our<a href="https://is.gay/login/newdomain"> extremely friendly form</a> to make your new is.gay subdomain dream a reality!
{% endblock %}
</div>  