{% if session.loggedin %}

{% extends 'layout.html' %}

{% else %}

{% extends 'layout-logged-out.html' %}

{% endif %}

{% block title %}Request Password Reset{% endblock %}

{% block content %}
<h2>Request Password Reset</h2>
<div>
    <div class="msg" style="font-size:18px; padding-left: 10px; padding-right: 20px; font-weight: bold">
        {{ msg }}
    </div>
    <p>
    <table>
        <form action="{{ url_for('routes.request_password_reset')}}" method="post" autocomplete="off" id="request_password_reset">
        <tr>
            <td><label for="Email Address">
					<i class="far fa-kiss-wink-heart"></i>
				</label>Email address:
            </td>
            <td>
				<input type="email" name="email" placeholder="Email" id="email" required>
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td><input type="submit" value="Request password reset"></td>
        </tr>
        </form>
    </table>
</div>
{% endblock %}