{% if session.loggedin %}

{% extends 'layout.html' %}

{% else %}

{% extends 'layout-logged-out.html' %}

{% endif %}

{% block title %}New Subdomain Wow{% endblock %}

{% block content %}
<h2>Reset Password</h2>
<div>
    <div class="msg" style="font-size:18px; padding-left: 10px; padding-right: 20px; font-weight: bold">
        {{ msg }}
    </div>
    <p>
    <table>
        <form action="{{ url_for('routes.reset_password', token=token )}}" method="post" autocomplete="off" id="reset_password">
        <tr>
            <td><label for="New Password">
					<i class="fas fa-key"></i>
				</label>Enter your shiny, super secure new password:
            </td>
            <td>
				<input type="password" name="new_password" placeholder="New Password" id="new_password" required>
            </td>
        </tr>
        <tr>
            <td><label for="Old Password">
					<i class="fas fa-key"></i>
				</label>Enter it again (because we care):
            </td>
            <td>
				<input type="password" name="confirm_new_password" placeholder="New Password (again)" id="confirm_new_password" required>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Change it please"></td>
        </tr>
        </form>
    </table>
</div>
{% endblock %}